html,
body {
  height: 100%;
}

ul.nav {
  margin-right: 0.8rem;
}

.off-canvas {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-flow: nowrap;
  flex-flow: nowrap;
/*   height: 100%; */
  position: relative;
  width: 100%;
}
.off-canvas .off-canvas-toggle {
  display: block;
  left: 0.4rem;
  position: absolute;
  top: 0.4rem;
  transition: none;
  z-index: 1;
}
.off-canvas .off-canvas-sidebar {
  background: #f7f8f9;
  bottom: 0;
  left: 0;
  min-width: 10rem;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.25s;
  z-index: 200;
}
.off-canvas .off-canvas-content {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: 100%;
  padding: 0.4rem 0.4rem 0.4rem 0.4rem;
}
.off-canvas .off-canvas-overlay {
  background: rgba(48, 55, 66, 0.1);
  border-color: transparent;
  border-radius: 0;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
.off-canvas .off-canvas-sidebar.active,
.off-canvas .off-canvas-sidebar:target {
  transform: translateX(0);
}
.off-canvas .off-canvas-sidebar.active ~ .off-canvas-overlay,
.off-canvas .off-canvas-sidebar:target ~ .off-canvas-overlay {
  display: block;
  z-index: 100;
}
@media (min-width: 960px) {
  .off-canvas.off-canvas-sidebar-show .off-canvas-toggle {
    display: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    transform: none;
  }
  .off-canvas.off-canvas-sidebar-show .off-canvas-overlay {
    display: none !important;
  }
}

.ql-container {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif !important;
  font-size: 1.0rem;
  min-height: 90vh;
}